
<div id="title" align='center'> Keenan's Apptly Challenge </div>

<div class="title2" id="title" align='center'> Using a small screen?</div> 



<div class="container" align="center">
  <div class="row" align="center">
    <a href="/upcircle"><img src="/imgs/circle.png" height="60px" class="circle" id="circle 1"></a>
    <a href="/upsquare"><img src="/imgs/square.png" height="60px" class="square" id="square 1"></a>
    <a href="/upcircle"><img src="/imgs/circle.png" height="60px" class="circle" id="circle 2"></a>
    <a href="/upsquare"><img src="/imgs/square.png" height="60px" class="square" id="square 2"></a>
    <a href="/upcircle"><img src="/imgs/circle.png" height="60px" class="circle" id="circle 3"></a>
    <a href="/upsquare"><img src="/imgs/square.png" height="60px" class="square" id="square 3"></a>
     <a href="/upcircle"><img src="/imgs/circle.png" height="60px" class="circle" id="circle 4"></a>
   <a href="/upsquare"><img src="/imgs/square.png" height="60px" class="square" id="square 4"></a>
    <a href="/upcircle"><img src="/imgs/circle.png" height="60px" class="circle" id="circle 5"></a>
    <a href="/upsquare"><img src="/imgs/square.png" height="60px" class="square" id="square 5"></a>
     <a href="/upcircle"><img src="/imgs/circle.png" height="60px" class="circle" id="circle 6"></a>
  </div>
</div>

<div class="outcome">
  <h1> Output </h1>
  <div class="circleOPL">
    You Clicked a Circle id: <div class="target"></div>
  </div>
  <div class="squareOPC">
    You Clicked a Square id:<div class="target"></div>
  </div>
  <div class="circleOPR">
    You Clicked a Circle id: <div class="target"></div>
  </div>
</div>

<div class="history">
  <h1> History </h1>
  <div class="histarget"></div>
  <button class="clearhistory">Clear!</button>
</div>